<p id="notice"><%= notice %></p>

<h1>Listing Itineraries</h1>

<table>
  <thead>
    <tr>
      <th>Tour</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%if @itineraries || 'No Itinerary'%>
            
            
    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= itinerary.tour.tour_name%></td>
        <td><%= itinerary.place.name%></td>
       
        <td><%= link_to 'Edit', edit_tour_itinerary_path(@tour,itinerary) %></td>
        <td><%= link_to 'Destroy',@itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%end%>
<%= link_to 'New Itinerary', new_tour_itinerary_path(@tour) %>
