<h2>Add New Category</h2>
<div class="form-group">
    
<%= form_for @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name%>


    <%= f.submit 'Add', class: 'btn btn-success' %>
     <%= link_to 'Cancel',@tour_path, class: 'btn btn-danger'%>
<%end%>
</div>
    
    
