

<%= form_for (@place) do |f| %>
    <% if @place.errors.any? %>
    
      <div id="error_explanation">
        <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
  
        <ul>
          
        <% @place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        
        </ul>
        </div>
      
   <% end %>
     
    
    
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
     <div class="form-group">
      <%= f.label :type %><br>
      <%= f.text_field :category %>
    </div>
     <div class="form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
     <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    
    <div class="form-group">
      <%= f.label :gprs %><br>
      <%= f.text_area :gprs %>
    </div>
    <p>Adrress</p>
    
   <%= f.fields_for(:address) do |address| %>
        <div class="form-group">
          <%= address.label 'Street Address: ' %><br>
          <%= address.text_field :phy_address1 %>
        </div>
         <div class="form-group">
          <%= address.label 'City:' %><br>
          <%= address.text_field :city %>
        </div>
        <div class="form-group">
          <%= address.label 'Region:' %><br>
          <%= address.text_field :region %>
        </div>
         <div class="form-group">
          <%= address.label 'Country:' %><br>
          <%= address.text_field :country %>
        </div>
         <div class="form-group">
          <%= address.label 'Street Address: ' %><br>
          <%= address.text_field :phy_address2 %>
        </div>
         <div class="form-group">
          <%= address.label 'Street Address: ' %><br>
          <%= address.text_field :phy_address3 %>
        </div>
   
    <%end%>
    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
      
      
      <%= link_to 'Cancel',@place_path, class: 'btn btn-primary'%>
    </div>
  
<% end %>