
<div id="place-show-left">
    <p id="notice"><%= notice %></p>
    <h2><%= @place.name %></h2>
             
    <div class="place-show-right">
      <table>
        <h3>place Info</h3>
        
        <%=link_to "Edit Info", edit_place_path, class: 'btn btn-success'%>
        <%=link_to "View Pictures", place_photos_url(@place), class: 'btn btn-success'%>
  
        <div class="clear-fix">
          <h4>place Info</h4>
            
          <p id="notice"><%= notice %></p>
          
          <p>
            <strong>place name:</strong>
            <%= @place.name %>
          </p>
          <p>
            <strong>Website:</strong>
            <%= @place.url%>
          </p>
          <p>
            <strong>Type:</strong>
            <%= @place.category%>
          </p>
          <p>
            <strong>Description:</strong>
            <%= @place.description%>
          </p>
        </div>
      </table>
    </div>
    <div class="address">
       <p>Country: </p>
         <%= address.country_select :country %>
     </div>
     <div class="form-group">
       <%= address.label 'Plot/Erf Number: ' %>
       <%= address.text_field :phy_address1 %>
     </div>
      <div class="form-group">
       <%= address.label 'Street Name: ' %>
       <%= address.text_field :phy_address2 %>
     </div>
      <div class="form-group">
       <%= address.label 'Surburb: ' %>
       <%= address.text_field :phy_address3 %>
     </div>
      <div class="form-group">
       <%= address.label 'Region: ' %>
       <%= address.text_field :region %>
     </div>
      <div class="form-group">
       <%= address.label 'City: ' %>
       <%= address.text_field :city %>
     </div>
      
    <%= form_for [@place, Comment.new] do |f| %>
    <%= f.text_area :content, placeholder: "Add a comment" %><br/>
    <%= f.submit "Add Comment" %>
    <% end %>

    <ul>
      <%= render(partial: 'comments/comments', collection: @place.comments) %>
    </ul>
</div> 


